<div class="left">
    <a href="index.php">Welcome</a>
    <a href="index.php?action=form1">Form 1 - Information about yourself</a>
    <a href="index.php?action=form2">Form 2 - Book Accommodation</a>
    <a href="index.php?action=form3">Form 3 - Credit Card</a>
    <a href="index.php?action=form4">Form 4 - Login Form</a>
    <a href="index.php?action=form5">Form 5 - Media Settings</a>
    <a href="index.php?action=form6">Form 6 - Celsius/Fahrenheit</a>
    <a href="index.php?action=nestedmenu1">Nested menu 1</a>
    <a href="index.php?action=nestedmenu2">Nested menu 2</a>
    <a href="index.php?action=overlay1">Overlay 1</a>
    <a href="index.php?action=cardflip1">Card flip 1</a>
    <a href="index.php?action=orangePage">The Orange Page</a>
    <a href="index.php?action=greenPage">The Green Page</a>
    <a href="index.php?action=brownPage">The Brown Page</a>
    <a href="index.php?action=childWindow" target="_blank">Child Window</a>
</div>