{% extends 'base.html.twig' %}

{% block body %}
<div class="center">
    <h2>Form 4 - Login</h2>
    <form action="index.php?action=useraccount" id="loginform" method="post">

        <div class="login-input">
            <label for="user">Username</label>
            <input type="text" id="user" name="user" placeholder="Enter your user name"/>
        </div>

        <div class="login-input">
            <label for="pw">Password</label>
            <input type="text" id="pw" name="pw" placeholder="Enter your password">
        </div>

        <div class="login-input">
            <label for="btnLogin">&nbsp;</label>
        <input type="submit" id="btnLogin" name="Login" value="Login">
        </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    Credentials: <br>
    Admin: admin / pw1234
    <br>
    Employee: joe / doe

</div>
{% endblock %}
